$dark-bg: rgba(12, 4, 18, 0.4);
$light-bg: rgba(12, 4, 18, 0.25);
$radius: 10px;
$font-main: #af90c7;
$font-off: #826d93;
$font-hover: #d1b5e7;
$font-white: #c4c4c4;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	padding: 0.7em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1267&q=80');
	background-position: center;
	background-size: cover;
	font-size: 1.6rem;
	font-family: 'Inter', sans-serif;
	z-index: -1;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
	}
}

.app {
	padding: 0.7em;
	position: relative;
	max-width: 750px;
	background-color: $dark-bg;
	box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: $radius;
	backdrop-filter: blur(35px);
	color: $font-main;
	z-index: 5;
	.wrapper {
		margin-block: 1.5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 500px;
	}
	&__title {
		padding: 0.2em 0.4em;
		font-size: 2.3rem;
		font-weight: 500;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	.app__input {
		-moz-appearance: textfield;
		margin-inline: 0 0.8em;
		padding: 0.7em 0.5em;
		max-width: 60%;
		background-color: $light-bg;
		border: none;
		outline: 1px solid transparent;
		border-radius: $radius;
		font-family: 'Inter', sans-serif;
		color: $font-off;
		text-align: right;
		font-size: 1.6rem;
		&:focus {
			color: $font-main;
			outline: 1px solid $font-main;
		}
		&::placeholder {
			color: $font-off;
		}
	}
	.app__input:first-of-type,
	button:first-of-type {
		margin-block: 0 0.3em;
	}
	.app__input:last-of-type,
	button:nth-of-type(2) {
		margin-block: 0.3em 1em;
	}
	.btn {
		padding: 0.7em 1.4em;
		background-color: $dark-bg;
		border: 1px solid rgba(175, 144, 199, 0.2);
		border-radius: 10px;
		font-weight: 500;
		font-size: 1.6rem;
		font-family: 'Inter', sans-serif;
		color: $font-main;
		text-transform: uppercase;
		cursor: pointer;
	}
	.app__swap-btn {
		width: clamp(150px, 50%, 400px);
	}
}
.app__currencies {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 90%;
	max-width: 500px;
	background-color: rgba(96, 96, 96, 0.3);
	backdrop-filter: blur(20px);
	box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.2);
	border-radius: $radius;
	color: $font-white;
	transition: transform 0.2s, opacity 0.2s;
	z-index: 6;
	&-header {
		margin: 0.7em 0.7em 0;
		display: grid;
		grid-template-columns: 80% 20%;
		align-items: center;
		.app__currencies-title {
			justify-self: start;
			align-self: center;
			width: 80%;
			font-size: 2.3rem;
			font-weight: 500;
		}
		.app__currencies-close-btn {
			justify-self: end;
			position: relative;
			width: 40px;
			height: 40px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			.bar {
				position: absolute;
				top: 50%;
				left: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 4px;
				height: 20px;
				border-radius: 2px;
				background-color: $font-white;
			}
			.bar:first-of-type {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			.bar:last-of-type {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	.app__currencies-search {
		margin: 0.7em 0.7em 0;
		padding: 0.7em 0.5em;
		width: 160px;
		background-color: rgba(255, 255, 255, 0.1);
		border: none;
		outline: 1px solid transparent;
		border-radius: $radius;
		font-family: 'Inter', sans-serif;
		color: $font-white;
		text-align: left;
		font-size: 1.6rem;
		&::placeholder {
			color: $font-white;
		}
		&:focus {
			color: #f5f5f5;
			outline: 1px solid $font-white;
			background-color: rgba(50, 42, 58, 0.6);
		}
	}
	.app__currencies-list {
		margin-block: 1.5em 1em;
		list-style-type: none;
		min-height: 300px;
		max-height: 380px;
		overflow-y: scroll;
		.app__currency {
			padding: 10px 0.7em;
			border-bottom: 1px solid rgba(192, 192, 192, 0.2);
			font-weight: 300;
			color: white;
			transition: background-color 0.1s;
			cursor: pointer;
			&-code {
				text-transform: uppercase;
				pointer-events: none;
			}
			&-name {
				text-transform: capitalize;
				pointer-events: none;
			}
			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
		.hidden {
			display: none;
		}
		.app__currency:last-of-type {
			border: none;
		}
		scrollbar-width: thin;
		scrollbar-color: $font-white transparent;
		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $font-white;
		}
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	}
}
.list-animation {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}
@media (min-width: 576px) {
	.app {
		&__input,
		.btn {
			font-size: 1.9rem;
		}
		.btn {
			transition: color 0.2s, background-color 0.2s;
		}
		.btn:hover {
			color: #d1b5e7;
			background-color: rgba(12, 4, 18, 0.6);
		}
	}
}
